<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>564761085746-7em83qh8in60388eb32eajfi68kb0ies.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.564761085746-7em83qh8in60388eb32eajfi68kb0ies</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>564761085746-lmhtjooqc8h46f3pn3fejh3olfvcf3di.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAYQQYdB0KhYs6-onw9vGLhhOIpDK4-aoQ</string>
	<key>GCM_SENDER_ID</key>
	<string>564761085746</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.store</string>
	<key>PROJECT_ID</key>
	<string>kdxapp-2c34a</string>
	<key>STORAGE_BUCKET</key>
	<string>kdxapp-2c34a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:564761085746:ios:9626eb32cbab8a286a792b</string>
</dict>
</plist>